body {
    background-image: url("../img/extra_clean_paper.png");
}

/* main header and nav format */

nav {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    width: 101%;
    margin: 0 !important;
}

nav header {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
}

nav header img {
    height: 3em;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

nav header h2 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

nav div p {
    padding-top: 3px;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

nav header {
    padding-left: 20px;
    margin-bottom: 2px;
}

.logout {
    margin-right: 50px;
    margin-bottom: 0 !important;
    position: relative !important;
    top: -8px !important;

}

.dropdown {
    position: relative;
    top: -15px;
}

/* Fix ugly gaps of settings when using .row*/

#content .container-fluid {
    margin: 10px;
}

#content > .tab-content {
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 0;
    margin-right: 0;
}

#settings .row, #settings .form-group, #administration .row {
    margin-left: 0;
    margin-right: 0;
}

#administration {
    padding-left: 15px;
    padding-right: 15px;
}

#searchUsers, #searchUsers .input-group, #searchUsers + div {
    margin-bottom: 0;
    padding-top: 0;
}

#userJump {
    padding-top: 5px;
}

/* ############# END ############ */
/* ####### Main Content ######### */

main div {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    background-color: white;
}

main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 99%;
    background-color: transparent !important;
}

/* 2 panels scroll */

html, body, main, #wrapper, #mainTab {
    height: 99% !important;
}

#folderSelect {
    float: left;
    width: 15%;
    height: 100%;
    overflow: auto;
}

#passwordRow {
    float: left;
    width: 85%;
    height: 100%;
    overflow: auto;
}

#mainTabSelection {
    padding-top: 5px;
}

#loginPage {
    padding-top: 40px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-tabs {
    position: relative;
    z-index: 0;
}

/* Forms */
div .checkbox {
    background-color: transparent;
}

.folderOptions div.checkbox:nth-of-type(2) {
    margin-top: 10px;
}

.input-group-addon {
    font-family: "Courier New", monospace, monospace;
    min-width: 10em;
    text-align: left;
}

/* Styling classes */

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

.border {
    border: 1px solid black;
}

.passwordError {
    border-color: red;
}

.passwordAlert {
    display: none;
}

.formMessage {
    display: none;
}

.inline {
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}

.hidden {
    display: none;
}

.message {
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 10000000000;
    width: 98%;
    margin-left: 1%;
}

.message .alert {
    margin-bottom: 0;
}

.searchNav {
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.regexSelect {
    margin-top: 6px;
    vertical-align: middle !important;
}

.regexSelect div {
    margin-bottom: 0;
}

.tmpInput {
    position: fixed;
    top: -1000px;
    left: -1000px;
}

/* Not working at the moment
.passwordEntrys:not(.limitHeaders:first-child)thead{
    display: none !important;
}
*/

/* All Passwords tab styling*/
#all {
    background-color: white;
}

#all div {
    background-color: transparent;
}

.dotOverflow {
    text-overflow: ellipsis;
    padding-left: 5px;
}

.dotOverflow img {
    display: block;

    width: 30px;
    max-height: 40px;
}

/* Folder styling */
.addFolder img {
    height: 25px;
    width: 25px;
}

.folderIcon {
    max-height: 160px;
    max-width: 160px;
    padding: inherit;
}

.folderHead {
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
}

.folderHead table {
    margin-bottom: 0;
}

.folderHead table td {
    border-color: black !important;
}

.passwordEntrys {
    margin-top: 0;
    padding-left: 10px;
}

.folderHeader { /*enable disable folder header here*/
    display: none;
}

.folderName {
    font-weight: bold;
}

table.tablesorter {
    background-color: transparent;
}

table thead {
    background-color: #CDCDCD;
}

/*Administration*/
.selectTagDropdown, .selectFolderDropdown {
    padding-top: 0;
}

/* Popups */
#blackOverlay {
    display: none;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* Must be over nav (z-index 100)*/
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup {
    overflow: auto;
    display: none;
    width: 50%;
    max-height: 80%;

    position: fixed;
    top: 10%;
    left: 25%;
    /* Must be over #blackOverlay (z-index 200)*/
    z-index: 250;
}

.popup .form-group {
    margin-bottom: 5px;
    padding-bottom: 3px;
}

#privateFolderWarning {
    display: none;
}

#viewPasswordMsg {
    display: none;
    margin-left: 5px;
    margin-right: 5px;
}

.closeBTN {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 15px;
}

.closeBTN :hover {
    /*background-color: lightgrey; */
    color: red;
}

.popup .row, .popup .form-group {
    margin-left: 0;
    margin-right: 0;
}

.popup h4 {
    text-align: center;
}

#deleteTag, #editTag {
    min-height: 60%;
}

#editPasswordForm div {
    margin-bottom: 0;
}

#editPasswordForm select {
    height: 120px;
}

.inline {
    display: inline-block !important;
    width: 40%;
}

/* ############# END ############ */
/* ############ Footer ########## */

footer {
    padding-top: 2px;
    background-color: #FFF;
    font-size: .7em;
    color: #6b6b6b;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Disclaimer */
#disclaimer {
    text-align: center;
    font-size: .7em;
    color: #787878;
}